# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
ENV/
env/
.venv/

# Flask and model files
instance/
*.pkl
*.h5
*.model

# Jupyter Notebooks (if any)
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
desktop.ini

# VSCode or IDE settings
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Compiled C files
*.so

# HTML cache
*.swp

# Python egg
*.egg-info/
dist/
build/
